<div class="p-card">
  <div class="p-grid">
    <div class="p-col-12">
      <div class="p-text-center">Welcome</div>
      <div class="p-text-center" style="margin-top: 5px; color: cornflowerblue">Please click on login (dummy login) </div>
    </div>
    <div class="p-col-5">
      <div class="p-field">
        <label for="username">Username</label>
        <input id="username" type="text" pInputText>
      </div>
    </div>
    <div class="p-col-5">
      <div class="p-field">
        <label for="password">Password</label>
        <input id="password" type="password" pInputText>
      </div>
    </div>
    <div class="p-col-5">
      <button pButton type="button" class="p-button-raised p-button-rounded" label="Login" icon="pi pi-check" routerLink="/home"></button>
    </div>
    <div class="p-col-5">
      <button pButton type="button" class="p-button-raised p-button-rounded p-button-secondary" label="Register" icon="pi pi-arrow-right"></button>
    </div>
  </div>

</div>
